/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.test-color {
	-fx-background-color: #fff;
}

.inventory-cells { 
	-fx-background-color: #5b5b5b;
	-fx-effect: innershadow(one-pass-box, #1e1e1e, 5, 0.3, 2, 1.5);
}

.text-area .content {
	-fx-background-color: #333;
}

.text-area {
	-fx-text-fill: #fff;
	-fx-background-color: transparent;
}